
<h1>Current Milestones</h1>
<% if session[:admin_id] != nil %>
  <h4><%= link_to 'New Milestone', new_milestone_path %></h4>
<% end %> 

<table class='table table-striped'>
  <% if @milestones.empty? %>
    <thead>
      <tr>
        <td>
          <h2 style="text-align:center">You don't have any milestones added yet.</h2>
        </td>
      </tr>
    </thead>
  <% else %>
    <thead>
      <tr class='table_header'>
        <th>Name</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th></th>
        <% if session[:admin_id] != nil %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @milestones.each do |milestone| %>
        <tr class="<%= cycle('alternating_even', 'alternating_odd') -%>">
          <td><%= link_to milestone.name, milestone %></td>
          <td><%= milestone.starts_at.in_time_zone %></td>
          <td><%= milestone.ends_at.in_time_zone %></td>
        
          <% if session[:admin_id] != nil %>
            <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
            <td><%= link_to 'Delete', milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<script>
  //on dropdown changed value, we will get it's new value, and update our session variable holding time zone to that new value, and refresh the page.
  $('#user_time_zone').bind('change', function() {
      var selected_time_zone_value = $('#user_time_zone').val()

      $.post("/milestones/set_time_zone", {selected_time_zone : selected_time_zone_value}, function(data)
      {
        location.reload();
      });
    });
</script>