<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @milestone.name %> | <%= link_to 'Edit', edit_milestone_path(@milestone) %> 
</p>

<p>
  <b>Starts at:</b>
  <%= @milestone.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @milestone.ends_at %>
</p>

<table class='table table-striped'>
  <% if @tasks.empty? %>
    <thead>
      <tr>
        <td style='text-align:center'><em>This milestone has no associated tasks yet.</em></td>
      </tr>
    </thead>
  <% else %>
    <thead>
      <tr>
    		<td>Task Name</td>
    		<td>Project Name</td>
    	</tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.name, task %></td>
          <td><%= task.project.name %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>