<div class='row'>
  <div class='span3'></div>
  <div class='span2'><p id="notice"><%= notice %></p></div>
  <div class='span3'></div>
</div>

<div class='row'>
  <div class='span2'></div>
  <div class='span4'>
    <h1>Current Admins</h1>
    <% if session[:admin_id] != nil %>
        <h4><%= link_to 'New Admin', new_admin_path %></h4>
    <% end %>
  </div>
  <div class='span2'></div>
</div>

<table class='table'>

  <% if @admins.empty? %>
  <tbody>
    <tr>
      <td>
        <h2 style="text-align:center">You don't have any admins added yet.</h2>
      </td>
    </tr>
  </tbody>
  <% else %>
<thead>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Role</th>
    <th></th>
    <% if session[:admin_id] != nil %>
      <th></th>
      <th></th>
    <% end %>
  </tr>
</thead>
<tbody>
<% @admins.each do |admin| %>
  <tr class="<%= cycle('alternating_even', 'alternating_odd') -%>">
    <td><%= admin.username %></td>
    <td><%= admin.password %></td>
    <td><%= admin.role %></td>
    <% if session[:admin_id] != nil %>
      <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
      <td><%= link_to 'Delete', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
<% end %>
</table>

