<tr>
  <td><h1>Current Admins</h1></td>
  <td>
    <% if session[:admin_id] != nil %>
      <h4 style="text-align:left"><%= link_to 'New Admin', new_admin_path %></h4>
    <% end %>
  </td>
</tr>
  

<table class='main' width='70%'>

  <% if @admins.empty? %>
    <tr>
      <td>
        <h2 style="text-align:center">You don't have any admins added yet.</h2>
      </td>
    </tr>
  <% else %>

  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admins.each do |admin| %>
  <tr class="<%= cycle('alternating_even', 'alternating_odd') -%>">
    <td><%= link_to admin.username, admin %></td>
    <td><%= admin.password %></td>
    <td><%= admin.role %></td>
    <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
    <td><%= link_to 'Delete', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% end %>
</table>

