<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :effort %><br />
    <%= f.select :effort, options_for_select({1 => "1", 2 => "2", 3 => "3", 5 => "5", 8 => "8"}, selected: @effort_selected) %>
  </div> 
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.collection_select(:project_id, Project.order("name ASC"), :id, :name ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
