<p id="notice"><%= notice %></p>

<tr>
    <td>
      <h1><%=@task.name%></h1>
    </td>
    <td>
      <h4><%= link_to 'New Result', new_result_path %></h4>
    </td>
 </tr>


<table class='main' width='70%'>
  
  <% if @results.empty? %>
    <tr>
      <td>
        <h2 style="text-align:center">You don't have any results added yet, please add results above.</h2>
      </td>
    </tr>
  <% else %>

	<tr class='table_header'>
		<td width='10%'>Goal</td>
	    <td width='30%'>Notes</td>
	    <td width='15%'>Started At</td>
	    <td width='10%'>Duration</td>
	    <td width='15%'>Ended At</td>
	</tr>

<% @results.each do |result| %>
	<tr class="<%= cycle('alternating_even', 'alternating_odd') -%>">
    <td width='10%' style="text-align:center"><%= link_to result.goal, edit_result_path(result) %></td>
    <td width='30%'><%= result.notes %></td>
    <td width='15%' style="text-align:center"><%= result.started_at %></td>
    <td width='10%' style="text-align:center"><%= result.duration %></td>
    <td width='15%' style="text-align:center"><%= result.ended_at %></td>
    <td width='10%' style="text-align:center"><%= link_to 'Edit', edit_result_path(result) %></td>
    <td width='10%' style="text-align:center"><%= link_to 'Delete', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% end %>
</table>