<p id="notice"><%= notice %></p>
<div class= "task_id" data-id= <%= params[:id] %> style= "display: none;">
</div>

<tr>
    <td>
      <h1 style="text-align:right"><%=@task.name%></h1>
    </td>
    <td>
      <% if session[:admin_id] != nil %>
        <h4><%= link_to 'New Result', new_result_path %></h4>
      <% end %>
    </td>
 </tr>

<tr>
  <td colspan='2'>
    <%= time_zone_select( "user", "time_zone", nil, default: session[:selected_time_zone] )%>
  </td>  
</tr>

<table class='results_main'>  
  <% if @results.empty? %>
    <tr>
      <td>
        <h2 style="text-align:center">You don't have any results added yet, please add results above.</h2>
      </td>
    </tr>
  <% else %>

  	<tr class='table_header'>
  		<td width='10%'>Goal</td>
  	  <td width='30%'>Notes</td>
  	  <td width='15%'>Started At</td>
  	  <td width='10%'>Duration</td>
  	  <td width='15%'>Ended At</td>
  	</tr>

    <% @results.each do |result| %>
    	<tr class="<%= cycle('alternating_even', 'alternating_odd') -%>">
        <td style="text-align:center"><%= link_to result.goal, edit_result_path(result) %></td>
        <td><%= result.notes %></td>
        <td style="text-align:center" id=<%="started_at_"+result.id.to_s%>><%=result.started_at.in_time_zone %></td>
        <!--.in_time_zone("Eastern Time (US & Canada)")-->
        <td style="text-align:center"><%= result.duration %> mins</td>
        <td style="text-align:center" id=<%="ended_at_"+result.id.to_s%>><%= result.ended_at.in_time_zone %></td>
        <% if session[:admin_id] != nil %>
          <td style="text-align:center"><%= link_to 'Edit', edit_result_path(result) %></td>
          <td style="text-align:center"><%= link_to 'Delete', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

<script>
  //on dropdown changed value, we will get it's new value, and update our session variable holding time zone to that new value, and refresh the page.
  $('#user_time_zone').bind('change', function() {
      var selected_time_zone_value = $('#user_time_zone').val()
      var task_id = $(".task_id").attr("data-id");

      console.log(task_id)

      $.post("/tasks/set_time_zone", {selected_time_zone : selected_time_zone_value, id : task_id}, function(data)
      {
        location.reload();
      });
    });
</script>