<h1>Listing results</h1>

<table>
  <tr>
    <th>Goal</th>
    <th>Notes</th>
    <th>Started at</th>
    <th>Duration</th>
    <th>Ended at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.goal %></td>
    <td><%= result.notes %></td>
    <td><%= result.started_at %></td>
    <td><%= result.duration %></td>
    <td><%= result.ended_at %></td>
    <td><%= link_to 'Show', result %></td>
    <td><%= link_to 'Edit', edit_result_path(result) %></td>
    <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Result', new_result_path %>
