
<p id="notice"><%= notice %></p></div>
  

<h1>Project List</h1><h4><%= link_to 'New Project', new_project_path %></h4></div>
  
<table class='table-nonfluid'>
<% @projects.each do |project| %>
  <% if session[:admin_id] != nil %>
  <tbody>
    <tr class='<%= cycle('alternating_even', 'alternating_odd') -%>'>
      <td><%= link_to project.name, project %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
  <% else %>
  <tbody>
    <tr class='<%= cycle('alternating_even', 'alternating_odd') -%>'>
      <td><%= link_to project.name, project %></td>
    </tr>
  </tbody>
  <% end %>
<% end %>
<% if @projects.empty? %>
<tbody>
  <tr>
  <td><em>There are no current projects</em></td>
  </tr>
</tbody>
<% end %> 


  