
<p id="notice"><%= notice %></p></div>
  


    <h1><%=@project.name%></h1>
    <% if session[:admin_id] != nil %>
        <h4><%= link_to 'New Task', new_task_path %></h4>
    <% end %>
  



<table class='table'>
  <% if @tasks.empty? and @tasks_without_milestone.empty? %>
  <thead>
    <tr>
      <td>
        <h2 style="text-align:center">No tasks have been added to this project yet.</h2>
      </td>
    </tr>
  </thead>
  <% else %>

    <% @tasks_by_milestone.each do |name, tasks| %>
    <thead>
      <tr>
        <td colspan="6"><h4>MILESTONE: <%= name %></h4><hr/></td>
      </tr>
        <tr class='table_header'>
          <td>Complete</td>
          <td>Name</td>
          <td>Description</td>
          <td>Effort</td>
      </tr>
    </thead>
    <tbody>
      <% tasks.each do |task| %>
    	  <tr class="<%= cycle('alternating_even', 'alternating_odd') -%>">
          <td><%= task.completed ? "Yes" : "No" %></td>
          <td><%= link_to task.name, task %></td>
          <td><%= task.description %></td>
          <td style="text-align:center"><%= task.effort %></td>
          <% if session[:admin_id] != nil %>
            <td class='hidable' style="text-align:center"><%= link_to 'Edit', edit_task_path(task) %></td>
            <td class='hidable' style="text-align:center"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <% if @tasks_without_milestone.present? %>
      <tr>
        <td colspan="6"><h4>TASKS WITH NO MILESTONE</h4><hr/></td>
      </tr>
        <tr class='table_header'>
          <td>Complete</td>
          <td>Name</td>
          <td>Description</td>
          <td>Effort</td>
        </tr>
      <% @tasks_without_milestone.each do |task| %>
        <tr class="<%= cycle('alternating_even', 'alternating_odd') -%>">
          <td width='10%'><%= task.completed ? "Yes" : "No" %></td>
          <td width='20%'><%= link_to task.name, task %></td>
          <td width='50%'><%= task.description %></td>
          <td width='10%' style="text-align:center"><%= task.effort %></td>
          <% if session[:admin_id] != nil %>
            <td width='10%' class='hidable' style="text-align:center"><%= link_to 'Edit', edit_task_path(task) %></td>
            <td class='hidable' style="text-align:center"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>    
    <% end %>
  <% end %>
</table>

