<h1>All Projects</h1></div>

<div class='row'>
	<div class='span2'></div>
	<div class='span2'><h4>Start Date:<h4></div>
	<div class='span2'><%= select_date(@start_date, :prefix => 'started') %></div>
	<div class='span2'></div>
</div>

<div class='blank_space'></div>

<div class='row'>
	<div class='span2'></div>
	<div class='span2'><h4>End Date:<h4></div>
	<div class='span2'><%= select_date(@end_date, :prefix => 'ended') %></div>
	<div class='span2'></div>
</div>

<%= button_to "Filter Dates", "javascript:buttonClicked()" %></div>

<div class='blank_space'></div>

<table class='table table-striped' width='70%'>
	<% if @results.empty? %>
		<div>
			<h2 style="text-align:center">No results have met this date filter, please broaden date range.</h2>
				</td>
		</div>
	<% else %>
		<thead>
			<tr>
				<td>
					Goal
				</td>
				<td>
					Notes
				</td>
				<td>
					Started At
				</td>
				<td>
					Ended At
				</td>
				<td>
					Task Name
				</td>
				<td>
					Project Name
				</td>
			</tr>
		</thead>
		<% @results.each do |result| %>
			<tbody>
				<tr class="<%= cycle('alternating_even', 'alternating_odd') -%>">
					<td>
						<%= result.goal %>
					</td>
					<td>
						<%= result.notes %>
					</td>
					<td>
						<%= result.started_at %>
					</td>
					<td>
						<%= result.ended_at %>
					</td>
					<td>
						<% @list_task = Task.find(result.task_id) %> 
						<%= link_to @list_task.name, @list_task %>
					</td>
					<td>
						<% @list_project = Project.find(@list_task.project_id) %>
						<%= link_to @list_project.name, @list_project %>
					</td>
				</tr>
			</tbody>
		<% end %>
	<% end %>
</table>

<script>	
	function buttonClicked(){
		var start_date_year = $('#started_year').val();
		var start_date_month = $('#started_month').val();
		var start_date_day = $('#started_day').val();

		var end_date_year = $('#ended_year').val();
		var end_date_month = $('#ended_month').val();
		var end_date_day = $('#ended_day').val();

		console.log (start_date_year)
		console.log (start_date_month)
		console.log (start_date_day)
		console.log (end_date_year)
		console.log (end_date_month)
		console.log (end_date_day)
		console.log ("----------------")

		$.post("/reports/all", { start_date_year : start_date_year, start_date_month : start_date_month, start_date_day : start_date_day, end_date_year : end_date_year, end_date_month : end_date_month, end_date_day : end_date_day}, function(date)
		{			
			window.location.reload();
		});
	}
</script>