<!-- <table class='main' width='70%'>-->
	<tr class='table_header'>
		<td>
			Start date:  
		</td>
		<td>
			<%= select_date(@start_date, :prefix => 'started') %>
		</td>
	</tr>
	<tr class='table_header'>
		<td>
			End Date:
		</td>
		<td>
			<%= select_date(@end_date, :prefix => 'ended') %>
		</td>
	</tr>

	<tr>
		<td></td>
		<td>
			<%= button_to "Filter Dates", "javascript:buttonClicked()" %>
		</td>
	</tr>

	<tr>
		<td class='table_header'># of Pomodoro</td>
		<td><%= @pomodoro_completed %></td>
	</tr>
	<tr>
		<td class='table_header'>Minutes worked</td>
		<td><%= @hours_worked %>h <%= @minutes_worked %>m</td>
	</tr>
	<tr>
		<td>
			<div id="chart_div" style="margin: 0 auto"/>
		</td>
		<td>
			<div id="chart_div2" style="margin: 0 auto"/>
		</td>
	</tr>
<!-- </table>-->

<script>	
	function buttonClicked(){
		var start_date_year = $('#started_year').val();
		var start_date_month = $('#started_month').val();
		var start_date_day = $('#started_day').val();

		var end_date_year = $('#ended_year').val();
		var end_date_month = $('#ended_month').val();
		var end_date_day = $('#ended_day').val();

		$.post("/reports/all", {start_date_year : start_date_year, start_date_month : start_date_month, start_date_day : start_date_day, end_date_year : end_date_year, end_date_month : end_date_month, end_date_day : end_date_day}, function(date)
		{			
			//location.reload();
		});
	}
</script>

<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Range');
        data.addColumn('number', 'Pomodoro');
        data.addRows([
          ['1-15min', <%= @minutes_worked_range_1_15 %>],
          ['16-30min', <%= @minutes_worked_range_16_30 %>],
          ['31-45min', <%= @minutes_worked_range_31_45 %>],
          ['46-60min', <%= @minutes_worked_range_46_60 %>]
        ]);

        // Set chart options
        var options = {'title':'Pomodoro length ranges - Pie',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Range');
        data.addColumn('number', 'Pomodoro');
        data.addRows([
          ['1-15min', <%= @minutes_worked_range_1_15 %>],
          ['16-30min', <%= @minutes_worked_range_16_30 %>],
          ['31-45min', <%= @minutes_worked_range_31_45 %>],
          ['46-60min', <%= @minutes_worked_range_46_60 %>]
        ]);

        // Set chart options
        var options = {'title':'Pomodoro length ranges - Bar',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
      }
    </script>