<table class='main' width='70%'>
	<tr class='table_header'>
		<td># of Pomodoro</td>
		<td>Minutes worked</td>
	</tr>
	<tr>
		<td><%= @pomodoro_completed %></td>
		<td><%= @hours_worked %>h <%= @minutes_worked %>m</td>
				<td><%= @minutes_worked_range_1_15 %></td>

		<td><%= @minutes_worked_range_16_30 %></td>

		<td><%= @minutes_worked_range_31_45 %></td>

		<td><%= @minutes_worked_range_46_60 %></td>

	</tr>
</table>