<h1><%=@project.name%></h1></div>
	

<div class='row'>
	<div class='span2'></div>
	<div class='span2'><h4>Start Date:<h4></div>
	<div class='span2'><%= select_date(@start_date, :prefix => 'started') %></div>
	<div class='span2'></div>
</div>

<div class='blank_space'></div>

<div class='row'>
	<div class='span2'></div>
	<div class='span2'><h4>End Date:<h4></div>
	<div class='span2'><%= select_date(@end_date, :prefix => 'ended') %></div>
	<div class='span2'></div>
</div>

<%= button_to "Filter Dates", "javascript:buttonClicked()" %></div>
	

<table class='table table-striped'>
	<% if @results.empty? %>
	<thead>
		<tr>
			<td>
				<h2 style="text-align:center">No results have met this date filter, please broaden date range.</h2>
			</td>
		</tr>
	</thead>
	<% else %>
	<thead>
		<tr>
			<td>
				Goal
			</td>
			<td>
				Notes
			</td>
			<td>
				Started At
			</td>
			<td>
				Ended At
			</td>
			<td>
				Task Name
			</td>
		</tr>
	</thead>
		<tbody>
			<% @results.each do |result| %>
				<tr class="<%= cycle('alternating_even', 'alternating_odd') -%>">
					<td>
						<%= result.goal %>
					</td>
					<td>
						<%= result.notes %>
					</td>
					<td>
						<%= result.started_at %>
					</td>
					<td>
						<%= result.ended_at %>
					</td>
					<td>
						<%= link_to Task.find(result.task_id).name, Task.find(result.task_id) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	<% end %>
</table>

<script>	
	function buttonClicked(){
		var start_date_year = $('#started_year').val();
		var start_date_month = $('#started_month').val();
		var start_date_day = $('#started_day').val();

		var end_date_year = $('#ended_year').val();
		var end_date_month = $('#ended_month').val();
		var end_date_day = $('#ended_day').val();

		$.post("/reports/<%= params[:id] %>", { start_date_year : start_date_year, start_date_month : start_date_month, start_date_day : start_date_day, end_date_year : end_date_year, end_date_month : end_date_month, end_date_day : end_date_day}, function(date)
		{			
			window.location.reload();
		});
	}
</script>