<!-- <table class='main' width='70%'>-->
	<div class='row'>
		<div class='span2'></div>
		<div class='span2'>
			<h4>Start date:</h4>  
		</div>
		<div class='span2'>
			<%= select_date(@start_date, :prefix => 'started') %>
		</div>
		<div class='span2'></div>
	</div>
	<div class='row'>
		<div class='span2'></div>
		<div class='span2'>
			<h4>End Date:</h4>
		</div>
		<div class='span2'>
			<%= select_date(@end_date, :prefix => 'ended') %>
		</div>
		<div class='span2'></div>
	</div>

	
			<%= button_to "Filter Dates", "javascript:buttonClicked()" %>
		

	<div class='row'>
		<div class='span8'>
			<br/>
		</div>
	</div>

	<div class='row'>
		<div class='span2'></div>
		<div class='span2'><h4># of Pomodoros</h4></div>
		<div class='span2'><h4 style='color:green'><%= @pomodoro_completed %></h4></div>
		<div class='span2'></div>
	</div>
	
	<div class='row'>
		<div class='span2'></div>
		<div class='span2'><h4>Minutes worked</h4></div>
		<div class='span2'><h4 style='color:green'><%= @hours_worked %>h <%= @minutes_worked %>m</h4></div>
		<div class='span2'></div>
	</div>
	
	<tr>
		<td>
			<div class='span4' id="chart_div" style="margin: 0 auto"/>
		</td>
		<td>
			<div class='span4' id="chart_div2" style="margin: 0 auto"/>
		</td>
	</tr>
<!-- </table>-->
<script>	
	function buttonClicked(){
		var start_date_year = $('#started_year').val();
		var start_date_month = $('#started_month').val();
		var start_date_day = $('#started_day').val();

		var end_date_year = $('#ended_year').val();
		var end_date_month = $('#ended_month').val();
		var end_date_day = $('#ended_day').val();

		$.post("/reports/all", {start_date_year : start_date_year, start_date_month : start_date_month, start_date_day : start_date_day, end_date_year : end_date_year, end_date_month : end_date_month, end_date_day : end_date_day}, function(date)
		{			
			window.location.reload();
		});
	}
</script>

<%= render 'piechart' %>
<%= render 'barchart' %>    

    