<!DOCTYPE html>
<html>
<head>
  <title>Pomometer</title>
  <%= stylesheet_link_tag    'scaffolds', media: 'screen' %>
  <%= stylesheet_link_tag    'bootstrap_and_overrides', media: 'screen' %>
  <%= stylesheet_link_tag    'printing', media: 'print' %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container-fluid'>
	<table width='100%'>
		<tr>
			<td width = '10%'>
				<img src="/assets/pomo.png" alt="pomo"></img>
			</td>

			<td class='banner' width='80%'>				
				<h1>Welcome to the Pomometer!</h1>
				<h3><em>Helping you manage Projects, Tasks, and Time!</em></h3>
				<% if session[:admin_id] != nil %>
					<h4 style="color:green">Welcome Administrator</h4>
				<% end %>
			</td>

			<td width='10%'>
				<img src="/assets/pomo.png" alt="pomo"></img>
			</td>
		</tr>
		<tr>
			<td width='10%' rowspan='2' class='sidepanel'>
				<!--left panel-->
			</td>
			<td width='80%' class="navbar">	
			    <%= link_to '[Projects Home]', projects_path %>

			    <% if session[:admin_id] != nil %>
			    	<%= link_to '[New Project]', new_project_path %>	
			    <% end %>	    

			    <% if session[:current_project] != nil %>
			   		||
			   		<%= link_to '[Task List]', Project.find(session[:current_project])%>
			   		<% if session[:admin_id] != nil %>
			    		<%= link_to '[New Task]', new_task_path %>
			    	<% end %>
			    	<% if session[:current_task] != nil %>
				    	||
				    	<%= link_to '[Result List]', Task.find(session[:current_task]) %>
				    	<% if session[:admin_id] != nil %>
				    		<%= link_to '[New Result]', new_result_path %>
				    	<% end %>
			    	<% end %>
			    	||
			    	<%= link_to '[Milestones]', milestones_path %>
			    <% end %>

			    <% if session[:admin_id].nil? %>
			    	||
					<%= link_to '[Login]', new_session_path %>
				<% else %>
					||
					<%= link_to '[Admins]', admins_path %>
					<%= link_to '[Logout]', session_path(session), method: :delete %>
				<% end %>
			    ||
			    <%= link_to '[Reports]', :controller => :reports, :action => :index %>
			    <hr/>
			</td>
			<td width='10%' rowspan='2' class='sidepanel'>
				<!-- right panel -->
			</td>
		</tr>
		<tr>
			<td>
				<table class='main'>
					<%= yield %>
				</table>
			</td>
		</tr>		
	</table>
</div>
</body>
</html>